:root {
  --primary: #7b1b1e;
  --secondry: #cba6a9;
  --secondrylight: #cba6a970;
  --fontfamily: Roboto, "Segoe UI", Tahoma, sans-serif;
  --heading-font-family: "Segoe UI";

  --fontSize: 14px;

  --background-color: rgb(50, 54, 57);
}
html {
}
h1 {
  font-size: 55px;
}

.card {
  height: 61vh;
}
.card-img-top {
  height: 30vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
  font-family: var(--fontfamily);
}
.header-section {
  background: white;
  height: 13vh;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .header-section {
    min-height: 12vh;
    height: auto;
  }
}
.logo-container {
}

.logo {
}
li {
  list-style-type: none;
}

.lang-li a {
  color: var(--secondry);
  padding: 15px;
}
.active-lang {
  border: 2px solid var(--primary);
  border-radius: 100%;
}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 10px 15px 15px !important;
  color: var(--primary) !important;
  border: none;
  transition: 0.5s all ease;
  text-transform: uppercase;
  font-weight: 400;
}

nav ul li a::after {
  content: "";
  color: var(--secondry) !important;
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}
.barand-name {
  color: var(--primary);
}
.navbar-brand {
  width: 230px;
}
.barand-name {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  position: relative;
  top: 20px;
  display: none;
}
.navbar-brand img {
  height: 80px !important;
}

.item {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .navbar-brand {
    width: 150px;
  }
  .navbar-brand img {
    height: 72px !important;
  }
  .navbar-toggler {
  }

  .nav-item {
    text-align: right;
  }
}

.last-link {
  margin-left: 50px;
}
.last-link a {
  padding: 15px 15px 15px 15px !important;
}
.lang-active {
  border-radius: 100%;
  border: 1px solid var(--secondry);
}
.carousel-inner {
  height: 70vh;
  z-index: -1;
}
.carousel-inner img {
}
@media only screen and (max-width: 800px) {
  .carousel-inner {
    height: 40vh;
  }
  .carousel-inner img {
    height: 40vh !important;
  }
}
.owl-one .item {
  border-radius: 10px;
  overflow: hidden;
}
.owl-one .item img {
}

.content-solution {
  position: absolute;

  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: none;
}
.image-container-solution {
}
.carousel-caption {
  position: absolute;
  top: 0px;
  bottom: 0p;

  text-align: left;
}
.carousel-item h1 {
  color: #fff;
  position: relative;
  top: 20vh;
}

/* owl-two */
.owl-two .item img {
  height: 700px;
}
@media only screen and (max-width: 800px) {
  .owl-two .item img {
    height: 300px;
  }
}
.news-slider {
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 25px;
  }
  .carousel-item h1 {
    top: 10vh;
  }
}
.carousel-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}
.footer-section {
  background-color: #cecece;
}
.footer-menus ul li {
}
.footer-menus ul li a {
  border-bottom: 1px solid rgba(255, 241, 241, 0.164);
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--primary);
}
.right-footer-menus li a {
  text-align: right;
}

@media only screen and (max-width: 800px) {
  .right-footer-menus li a {
    text-align: center;
  }
  .footer-menus {
    text-align: center;
  }
  .footer-menus li a {
  }
}

.logo-footer {
}
.logo-container-footer {
  width: 250px;
  margin: auto;
}
.logo-container-footer img {
  width: 100%;
}
.social-link ul li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-link ul li a {
  text-decoration: none;
  padding: 25px;
  /* color: var(--secondry); */
  color: rgb(51, 48, 48);
}
.copyright p {
  font-size: 12px;
  padding: 0;
  margin: 0;
  /* color: var(--secondry); */
}

.content-on-carousel {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 20px;
}
.internal-container {
  color: #cecece;
  vertical-align: middle;

  padding-top: 200px;
}
@media only screen and (max-width: 800px) {
  .internal-container {
    padding-top: 10px;
  }
}
.section-3 {
  color: #cecece;
  padding-top: 100px;
  padding-bottom: 150px;
}
.section-3 h1 {
  font-size: 35px;
}
.para {
  padding-left: 40px;
}
.stayupdated {
  text-align: center;
  height: 500px;
  background-image: url("../img/stayupdated.jpg");
  background-size: 100% 100%;
  position: relative;
  bottom: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .stayupdated {
    height: 200px;
  }
}
.stayupdated p {
  font-weight: 100;
  font-size: 16px;
  margin-top: 20px;
}

.my-control {
  background: rgba(0, 0, 0, 0.253);
  border: 2px solid #fff;
  width: 250px;
  outline: none;
  text-align: center;
  color: rgba(255, 255, 255, 0.849);
  font-weight: 600;
  padding: 8px;
  border-radius: 30px;
}
.internal-section-4 {
  position: absolute;
  background: rgba(0, 0, 0, 0.685);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hot-section {
  background: #cecece;
  height: 20vh;
}

.hot-section button {
  text-decoration: none;
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  background: none;
  font-size: 40px;
  font-weight: 300;
  color: var(--primary);
  font-family: var(--fontfamily);
  transition: 0.5s all ease;
}

.hot-section button:hover {
  background: var(--primary);
  color: rgba(255, 255, 255, 0.637);
}

.schedule-btn-sec {
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .schedule-btn-sec {
    height: auto;

    display: flex;
    margin: 0;
    padding: 0;
  }
  .hot-section {
    height: auto;
  }

  .hot-section button {
    text-decoration: none;
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    background: none;
    font-size: 25px;
    font-weight: 300;
    color: var(--primary);
    font-family: var(--fontfamily);
    transition: 0.5s all ease;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.616) 0px 48px 100px 0px;
  }
}

.input-container {
  padding: 8px;
}
.my-custom-textbox {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 2px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid var(--primary);
  outline: none;
  font-size: 20px;
}
.my-botton {
  display: block;
  background: var(--primary);
  color: #fff;
  width: 100%;
}

.my-botton:hover {
  color: var(--primary);
  background: #cececc;
}
.input-container [type="checkbox"] {
  border: 2px solid #000;
  display: block;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

@media only screen and (max-width: 800px) {
  .my-custom-card {
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(245, 245, 245, 0.37) 0px 48px 100px 0px;
  }
}
.services-section {
  background: #cececc;
  text-align: center;
}
.techno-section {
  background: #cecece;
  text-align: center;
}
.fact-about-ertekaz {
  background: #cecece;
  text-align: center;
}
.owl-service {
}
.owl-service .item {
  padding: 8px;
}
.icon-service img {
  height: 80px;
  margin-left: 15px;
}
.heading-border-bottom {
  width: 15%;
  margin: auto;
  border: 2px solid skyblue;
  margin-bottom: 10px;
}
.fact {
  border: 5px solid #0f17387a;
  padding: 20px;
  border-radius: 3px;
  margin-top: 20px;
}
.fact-icon,
.fact-content {
  padding: 10px;
}

/* about section css */
.about-icon img {
  height: 130px;
  display: flex;
}
.list {
  list-style-type: disc;
}
.para2 {
  background-color: rgb(223, 111, 71);
  border-radius: 40px;
  padding: 10px;
  height: 55vh;
}
.para3 {
  background-color: orange;
  border-radius: 40px;
  padding: 10px;
  height: 55vh;
}

.para4 {
  background-color: rgb(190, 163, 163);
  border-radius: 40px;
  padding: 10px;
  height: 55vh;
}
